<!DOCTYPE html>
<html>
  <head>
    <title>Tacostagram Final</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>

<!--I dont know why href is /login, not session/new 
and why they are in Div instead of <p>
also, not sure If i have to do the identification of current users and 
else..  
here im trying. If log in then show... else.. -->
  <body>
     <p>
  <% if @current_user %>
      Hey, <%= @current_user["first_name"] %>
      <%= flash["notice"] %>
        <a href="/logout">Logout</a>
  <% else %>
    <div>
      <a href="/">Home</a>
      <a href="/login">Login</a>
      <a href="/users/new">Signup</a>
    </div>
  <% end %>
</p>

<!-- what was before
    </div>
    <div>
      <a href="/">Home</a>
      <a href="/logout">Logout</a>
      <a href="/login">Login</a>
      <a href="/users/new">Signup</a>
    </div>
    --->

    <%= yield %>
  </body>
</html>